<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <div class="container">
        <h1> WELCOME TO SKILLTEST ONLINE TEST PORTAL</h1>
        <h2>Please read all rules carefully</h2>
        <Ul>
            <li>Rule -I: All Questions are Compulsory</li>
            <li>Rule -II: Each Question has 1 Mark</li>
            <li>Rule -III: No Negative Markings</li>
            <li>Rule -IV: Test Duration is 25 Minutes</li>
        </Ul>
    </div>
</div>
{% endblock %}